button {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 1rem;
	color: #fff;
	text-shadow: 0 0 5px #000;
	padding: 1rem .75rem;
	background: lightseagreen;
	border: 2px solid green;
	margin: .2rem .5rem;
	cursor: pointer;
}

button:hover {
	box-shadow: 0 0 2px #000;
	text-shadow: 0 0 2px #000;
}
